.quote{
    position: relative;
    padding: 200px 0;
    &::before, &::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 150px;
    }
    &::before{
        top: 0;
        background-image: url('img/quote-top.png');
    }
    &::after{
        bottom: 0;
        background-image: url('img/quote-bottom.png');
    }
    h1{
        line-height: 1.1;
        margin: 20px 0;
    }
}