<ol class="list">
    <li class="list__title">
        <h3 class="text-gray">Вальпургиева ночь</h3>
    </li>
    <li class="list__item">
        <div class="list__counter afisha__date">
            <span class="list__number">20</span>
            <span>
                апреля
            </span>
        </div>
        <div class="list__content">
            <article class="afisha__content">
                <div class="afisha__info">
                    <div class="afisha__info-item text-muted">
                        На сцене
                    </div>
                    <div class="afisha__info-item d-flex">
                        <img class="afisha__icon" src="assets/icons/hourglass.png" srcset="assets/icons/hourglass@2x.png 2x" alt="">
                        <span>19:30</span>
                    </div>
                    <div class="afisha__info-item">
                        <img class="afisha__icon" src="assets/icons/place.svg" alt="">
                        <span>пр. Улы Дала, 9</span>
                    </div>
                </div>
                <div class="afisha__description">
                    <p class="text-muted">
                        Изначально «Вальпургиева ночь» – это балетная сцена, которую Шарль Гуно дописал для второй редакции своей оперы «Фауст»,
                        созданной по мотивам одноимённой трагедии Иоганна Вольфганга Гёте.
                    </p>
                </div>
                <div class="afisha__actions">
                    <a href="#" class="afisha__button btn btn-ab-dark">Подробнее</a>
                    <a href="#" class="afisha__button btn btn-ab-dark">Купить билет</a>
                </div>
            </article>
        </div>
    </li>
    <li class="list__title">
        <h3 class="text-gray">Вальпургиева ночь</h3>
    </li>
    <li class="list__item">
        <div class="list__counter afisha__date">
            <span class="list__number">21</span>
            <span>
                апреля
            </span>
        </div>
        <div class="list__content">
            <article class="afisha__content">
                <div class="afisha__info">
                    <div class="afisha__info-item text-muted">
                        На сцене
                    </div>
                    <div class="afisha__info-item d-flex">
                        <img class="afisha__icon" src="assets/icons/hourglass.png" srcset="assets/icons/hourglass@2x.png 2x" alt="">
                        <span>19:30</span>
                    </div>
                    <div class="afisha__info-item">
                        <img class="afisha__icon" src="assets/icons/place.svg" alt="">
                        <span>пр. Улы Дала, 9</span>
                    </div>
                </div>
                <div class="afisha__description">
                    <p class="text-muted">
                        Изначально «Вальпургиева ночь» – это балетная сцена, которую Шарль Гуно дописал для второй редакции своей оперы «Фауст»,
                        созданной по мотивам одноимённой трагедии Иоганна Вольфганга Гёте.
                    </p>
                </div>
                <div class="afisha__actions">
                    <a href="#" class="afisha__button btn btn-ab-dark">Подробнее</a>
                    <a href="#" class="afisha__button btn btn-ab-dark">Купить билет</a>
                </div>
            </article>
        </div>
    </li>
    <li class="list__title">
        <h3 class="text-gray">Абай</h3>
    </li>
    <li class="list__item">
        <div class="list__counter afisha__date">
            <span class="list__number">29</span>
            <span>
                апреля
            </span>
        </div>
        <div class="list__content">
            <article class="afisha__content">
                <div class="afisha__info">
                    <div class="afisha__info-item text-muted">
                        На сцене
                    </div>
                    <div class="afisha__info-item d-flex">
                        <img class="afisha__icon" src="assets/icons/hourglass.png" srcset="assets/icons/hourglass@2x.png 2x" alt="">
                        <span>19:30</span>
                    </div>
                    <div class="afisha__info-item">
                        <img class="afisha__icon" src="assets/icons/place.svg" alt="">
                        <span>пр. Улы Дала, 9</span>
                    </div>
                </div>
                <div class="afisha__description">
                    <p class="text-muted">
                        Изначально «Вальпургиева ночь» – это балетная сцена, которую Шарль Гуно дописал для второй редакции своей оперы «Фауст»,
                        созданной по мотивам одноимённой трагедии Иоганна Вольфганга Гёте.
                    </p>
                </div>
                <div class="afisha__actions">
                    <a href="#" class="afisha__button btn btn-ab-dark">Подробнее</a>
                    <a href="#" class="afisha__button btn btn-ab-dark">Купить билет</a>
                </div>
            </article>
        </div>
    </li>
    <li class="list__title">
        <h3 class="text-gray">Серенада/Жусан</h3>
    </li>
    <li class="list__item">
        <div class="list__counter afisha__date">
            <span class="list__number">29</span>
            <span>
                апреля
            </span>
        </div>
        <div class="list__content">
            <article class="afisha__content">
                <div class="afisha__info">
                    <div class="afisha__info-item text-muted">
                        Гастроли
                    </div>
                    <div class="afisha__info-item">
                        <img class="afisha__icon" src="assets/icons/hourglass.png" srcset="assets/icons/hourglass@2x.png 2x" alt="">
                        <span>19:30</span>
                    </div>
                    <div class="afisha__info-item">
                        <img class="afisha__icon" src="assets/icons/place.svg" alt="">
                        <span>г. Алматы, ул. Кабанбай Батыра, 110</span>
                    </div>
                </div>
                <div class="afisha__description">
                    <p class="text-muted">
                        Балет «Серенада» – всемирно признанный шедевр неоклассического танца. «Многие считают, будто этот балет имеет тайный сюжет.
                        – говорил сам Баланчин. – Это не так.
                    </p>
                </div>
                <div class="afisha__actions">
                    <a href="#" class="afisha__button btn btn-ab-dark">Подробнее</a>
                    <a href="#" class="afisha__button btn btn-ab-dark">Купить билет</a>
                </div>
            </article>
        </div>
    </li>
</ol>