<section class="digest">
    <div class="container js-container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="home__header digest__header">
                    <h3>Новости</h3>
                    <a href="news.html" class="home__all-link">
                        <img class="d-md-none" src="assets/icons/stars-arrow.svg" alt="">
                        <span class="d-none d-md-flex align-items-center">
                            <span>Все новости</span>
                            <img src="assets/icons/chevron-right-gray.svg" alt="">
                        </span>
                    </a>
                </div>
                <div class="digest__list">
                    <div class="digest__item">
                        <div class="digest__content">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="digest__date">
                                        13.10.2017
                                    </div>
                                    <h6 class="digest__title">
                                        “На грани” («In the Middle, Somewhat Elevated»)
                                    </h6>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        Шедевр Уильяма Форсайта. Название этого спектакля можно перевести как «Посередине, чуть выше». Именно этот спектакль и увидят
                                        зрители на сцене Театра «Астана Балет» 4-5 ноября.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="digest__button-wrap">
                            <div class="digest__progress"></div>
                            <a href="news-inner.html" class="digest__button btn btn-ab-primary">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="digest__item">
                        <div class="digest__content">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="digest__date">
                                        13.10.2017
                                    </div>
                                    <h6 class="digest__title">
                                        Astana Ballet Expo Gala
                                    </h6>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        Театр «Астана Балет» представит программу «Астана Балет ЕХРО GALA». В программу вошли лучшие номера из репертуара Театра,
                                        созданные отечественными и зарубежными хореографами.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="digest__button-wrap">
                            <div class="digest__progress"></div>
                            <a href="news-inner.html" class="digest__button btn btn-ab-primary">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="digest__item">
                        <div class="digest__content">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="digest__date">
                                        13.10.2017
                                    </div>
                                    <h6 class="digest__title">
                                        Прикосновение иллюзии
                                    </h6>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        Театр «Астана Балет» представляет вечер одноактных балетов бразильского хореографа Рикардо Амаранте «Прикосновение иллюзии».
                                        Этот вечер пронизывает прекрасная фортепианная музыка разных авторов.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="digest__button-wrap">
                            <div class="digest__progress"></div>
                            <a href="news-inner.html" class="digest__button btn btn-ab-primary">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>