<!-- footer -->
<footer class="footer">
    <div class="container">
        <!-- footer-nav -->
        <ul class="nav nav-footer justify-content-center">
            <li class="nav-item">
                <a class="nav-link footer__text footer__link"
                   href="#">О театре</a>
            </li>
            <li class="nav-item">
                <a class="nav-link footer__text footer__link"
                   href="#">Артисты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link footer__text footer__link"
                   href="#">Афиша</a>
            </li>
            <li class="nav-item">
                <a class="nav-link footer__text footer__link"
                   href="#">Репертуар</a>
            </li>
            <li class="nav-item">
                <a class="nav-link footer__text footer__link"
                   href="#">Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link footer__text footer__link"
                   href="#">Визит в театр</a>
            </li>
        </ul>
        <!-- /footer-nav -->
        <div class="footer__divider"></div>
        <div class="footer__contacts">
            <strong class="footer__text">г. Астана, пр. Улы Дала, 9</strong>
            <a href="tel:+77172621200"
               class="footer__text footer__link">+7 7172 62-12-00</a>
            <a href="mailto:info@astanaballet.kz"
               class="footer__text footer__link">info@astanaballet.kz</a>
            <a href="https://instagram.com/manar_mk"
               target="_blank"
               class="footer__text footer__link">
                <img class="footer__instagram"
                     src="assets/icons/instagram.png"
                     srcset="assets/icons/instagram@2x.png 2x">instagram</a>
        </div>
        <div class="footer__divider"></div>
        <div class="footer__copyright ">
            <div class="footer__text footer__copyright-text">© 2016 AstanaBallet. All Rights Reserved.</div>
            <div class="footer__text">Сделано в
                <a target="_blank" href="http://ibecsystems.com">
                    <img src="assets/img/ibec-logo.png"
                         srcset="assets/img/ibec-logo@2x.png 2x">
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->

<script src="assets/scripts.min.js"></script>