<div class="gallery2 js-gallery2">
    <div class="gallery2__wrap js-gallery2-wrap">
        <a href="#" data-index="0" data-type="image" data-imageset="['assets/img/gallery2/1.jpg']" class="gallery2__thumbnail js-gallery2-thumbnail">
            <img src="assets/img/gallery2/1.jpg" alt="">
        </a>
        <a href="#" data-index="1" data-type="image" data-imageset="['assets/img/gallery2/2.jpg']" class="gallery2__thumbnail js-gallery2-thumbnail">
            <img src="assets/img/gallery2/2.jpg" alt="">
        </a>
        <a href="#" data-index="2" data-type="image" data-imageset="['assets/img/gallery2/3.jpg']" class="gallery2__thumbnail js-gallery2-thumbnail">
            <img src="assets/img/gallery2/3.jpg" alt="">
        </a>
        <a href="#" data-index="3" data-type="image" data-imageset="['assets/img/gallery2/4.jpg']" class="gallery2__thumbnail js-gallery2-thumbnail">
            <img src="assets/img/gallery2/4.jpg" alt="">
        </a>
        <a href="#" data-index="4" data-type="image" data-imageset="['assets/img/gallery2/5.jpg']" class="gallery2__thumbnail js-gallery2-thumbnail">
            <img src="assets/img/gallery2/5.jpg" alt="">
        </a>
        <a href="#" data-index="5" data-type="image" data-imageset="['assets/img/gallery2/6.jpg']" class="gallery2__thumbnail js-gallery2-thumbnail">
            <img src="assets/img/gallery2/6.jpg" alt="">
        </a>
        <a href="#" data-index="6"  data-type="video" data-videourl="https://www.youtube.com/watch?v=QwievZ1Tx-8" class="gallery2__thumbnail js-gallery2-modal-thumbnail">
            <img src="assets/img/gallery2/6.jpg" alt="">
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal">
                <img src="assets/icons/modal-close.svg" alt="">
            </button>
            <div class="gallery2__image">
                <div class="gallery2__bg">
                    <img class="gallery2__image-item js-gallery2-image" src="assets/img/about/1.jpg" srcset="assets/img/about/1@2x.jpg 2x" alt="">
                </div>
                <div class="gallery2__video-wrap js-gallery2-video"></div>
            </div>
            <div class="gallery2 gallery--modal js-modal-gallery">
                <div class="gallery2__wrap js-modal-gallery-wrap">
                    <a href="#" data-index="0" data-type="image" data-imageset="['assets/img/gallery2/1.jpg']" class="gallery2__thumbnail js-gallery2-modal-thumbnail">
                        <img src="assets/img/gallery2/1.jpg" alt="">
                    </a>
                    <a href="#" data-index="1" data-type="image" data-imageset="['assets/img/gallery2/2.jpg']" class="gallery2__thumbnail js-gallery2-modal-thumbnail">
                        <img src="assets/img/gallery2/2.jpg" alt="">
                    </a>
                    <a href="#" data-index="2" data-type="image" data-imageset="['assets/img/gallery2/3.jpg']" class="gallery2__thumbnail js-gallery2-modal-thumbnail">
                        <img src="assets/img/gallery2/3.jpg" alt="">
                    </a>
                    <a href="#" data-index="3" data-type="image" data-imageset="['assets/img/gallery2/4.jpg']" class="gallery2__thumbnail js-gallery2-modal-thumbnail">
                        <img src="assets/img/gallery2/4.jpg" alt="">
                    </a>
                    <a href="#" data-index="4" data-type="image" data-imageset="['assets/img/gallery2/5.jpg']" class="gallery2__thumbnail js-gallery2-modal-thumbnail">
                        <img src="assets/img/gallery2/5.jpg" alt="">
                    </a>
                    <a href="#" data-index="5" data-type="image" data-imageset="['assets/img/gallery2/6.jpg']" class="gallery2__thumbnail js-gallery2-modal-thumbnail">
                        <img src="assets/img/gallery2/6.jpg" alt="">
                    </a>
                    <a href="#" data-index="6"  data-type="video" data-videourl="https://www.youtube.com/watch?v=QwievZ1Tx-8" class="gallery2__thumbnail js-gallery2-modal-thumbnail">
                        <img src="assets/img/gallery2/6.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>