<section class="hero js-hero">
    <section class="container-fluid">
        <div class="hero__bar js-hero-bar">
            <div class="hero__progress js-hero-progress"></div>
            <div class="hero__bar-wrap js-hero-bar-wrap"></div>
        </div>
        <div class="hero__arrows">
            <a href="#" class="hero__arrow hero__arrow--prev js-hero-prev"></a>
            <a href="#" class="hero__arrow hero__arrow--next js-hero-next"></a>
        </div>
    </section>
    <section class="hero__wrap">
        <div class="hero__slider js-hero-slider">
            <div class="hero__overlay js-hero-overlay"></div>
            <div class="hero__item js-hero-item" data-bg="assets/img/hero/1-bg.png">
                <div class="container-fluid">
                    <div class="row align-items-end">
                        <div class="col-7">
                            <img class="hero__image js-hero-image" src="assets/img/hero/1-image.png" alt="">
                        </div>
                        <div class="col-5">
                            <article class="hero__content js-hero-content">
                                <h1 class="js-hero-title">In The Middle, Somewhat Elevated</h1>
                                <div class="hero__text js-hero-text">Даты:
                                    <strong>31 марта</strong>
                                </div>
                                <div class="hero__text js-hero-text">Солисты:
                                    <strong>Фархад Буриев, Айжан Мукатова</strong>
                                </div>
                                <div class="hero__text js-hero-text">Постановщик:
                                    <strong>Мукарам Авахри</strong>
                                </div>
                                <div class="hero__text js-hero-text">Жанр:
                                    <strong>неоклассика</strong>
                                </div>
                                <div class="hero__actions">
                                    <a href="news-inner.html" class="hero__button js-hero-button btn btn-ab-white">Подробнее</a>
                                    <a href="news-inner.html" class="hero__button js-hero-button btn btn-ab-white">Купить билет</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item js-hero-item" data-bg="assets/img/hero/2-bg.png">
                <div class="container-fluid">
                    <div class="row align-items-end">
                        <div class="col-7">
                            <img class="hero__image js-hero-image" src="assets/img/hero/2-image.png" alt="">
                        </div>
                        <div class="col-5">
                            <article class="hero__content js-hero-content">
                                <h1 class="js-hero-title">Salome</h1>
                                <div class="hero__text js-hero-text">Даты:
                                    <strong>31 марта</strong>
                                </div>
                                <div class="hero__text js-hero-text">Солисты:
                                    <strong>Фархад Буриев, Айжан Мукатова</strong>
                                </div>
                                <div class="hero__text js-hero-text">Постановщик:
                                    <strong>Мукарам Авахри</strong>
                                </div>
                                <div class="hero__actions">
                                    <a href="news-inner.html" class="hero__button js-hero-button btn btn-ab-white">Подробнее</a>
                                    <a href="news-inner.html" class="hero__button js-hero-button btn btn-ab-white">Купить билет</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item js-hero-item" data-bg="assets/img/hero/3-bg.png">
                <div class="container-fluid">
                    <div class="row align-items-end">
                        <div class="col-7">
                            <img class="hero__image js-hero-image" src="assets/img/hero/3-image.png" alt="">
                        </div>
                        <div class="col-5">
                            <article class="hero__content js-hero-content">
                                <h1 class="js-hero-title">In The Middle, Somewhat Elevated</h1>
                                <div class="hero__text js-hero-text">Даты:
                                    <strong>31 марта</strong>
                                </div>
                                <div class="hero__text js-hero-text">Солисты:
                                    <strong>Фархад Буриев, Айжан Мукатова</strong>
                                </div>
                                <div class="hero__text js-hero-text">Постановщик:
                                    <strong>Мукарам Авахри</strong>
                                </div>
                                <div class="hero__text js-hero-text">Жанр:
                                    <strong>неоклассика</strong>
                                </div>
                                <div class="hero__actions">
                                    <a href="news-inner.html" class="hero__button js-hero-button btn btn-ab-white">Подробнее</a>
                                    <a href="news-inner.html" class="hero__button js-hero-button btn btn-ab-white">Купить билет</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item js-hero-item" data-bg="assets/img/hero/4-bg.png">
                <div class="container-fluid">
                    <div class="row align-items-end">
                        <div class="col-7">
                            <img class="hero__image js-hero-image" src="assets/img/hero/4-image.png" alt="">
                        </div>
                        <div class="col-5">
                            <article class="hero__content js-hero-content">
                                <h1 class="js-hero-title">Salome</h1>
                                <div class="hero__text js-hero-text">Даты:
                                    <strong>31 марта</strong>
                                </div>
                                <div class="hero__text js-hero-text">Солисты:
                                    <strong>Фархад Буриев, Айжан Мукатова</strong>
                                </div>
                                <div class="hero__text js-hero-text">Постановщик:
                                    <strong>Мукарам Авахри</strong>
                                </div>
                                <div class="hero__actions">
                                    <a href="news-inner.html" class="hero__button js-hero-button btn btn-ab-white">Подробнее</a>
                                    <a href="news-inner.html" class="hero__button js-hero-button btn btn-ab-white">Купить билет</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>