<section class="quote">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-1">
                <h1>
                    Если ты умеешь наблюдать, ты уже наполовину актёр
                </h1>
            </div>
            <div class="col-lg-4 offset-1">
                <p>
                    Театр «Астана Балет» был основан в 2012 году по инициативе Главы государства Нурсултана Назарбаева. Основу труппы составили лучшие выпускницы Алматинского хореографического училища имени А.Селезнёва.
                </p>
            </div>
        </div>
    </div>
</section>