<section class="shows">
    <div class="container">
        <div class="shows__nav">
            <a class="shows__nav-item active" href="">Сегодня в показе</a>
            <a class="shows__nav-item" href="">Премьеры</a>
            <a class="shows__nav-item" href="">Скоро</a>
            <a class="shows__nav-item" href="">
                <span>Вся афиша</span>
                <!-- <img src="assets/icons/chevron-right.svg" alt=""> -->
            </a>
            <div class="hero__arrows d-none ml-auto d-md-flex">
                <a href="#" class="hero__arrow hero__arrow--prev js-shows-prev"></a>
                <a href="#" class="hero__arrow hero__arrow--next js-shows-next"></a>
            </div>
        </div>
    </div>
    <div class="shows__wrap js-shows-wrap">
        <div class="shows__list js-shows-list">
            <div class="shows__item js-shows-item" data-bg="['assets/img/shows/1.jpg','assets/img/shows/1@2x.jpg']">
                <div class="shows__image js-shows-image"></div>
                <article class="shows__content">
                    <div class="shows__date">4-5 ноября</div>
                    <h3 class="shows__title">
                        "На грани" («In the Middle, Somewhat Elevated»)
                    </h3>
                    <p class="shows__description">
                        Шедевр Уильяма Форсайта «In the Middle, Somewhat Elevated» («Посередине, чуть выше») впервые на казахстанской сцене исполнят
                        артисты «Театра «Астана Балет»
                    </p>
                    <div class="shows__actions">
                        <a href="#" class="shows__button btn btn-ab-white">Подробнее</a>
                        <a href="#" class="shows__button shows__buy btn btn-ab-white">Купить билет</a>
                    </div>
                </article>
            </div>
            <div class="shows__item js-shows-item" data-bg="['assets/img/shows/1.jpg','assets/img/shows/1@2x.jpg']">
                <div class="shows__image js-shows-image"></div>
                <article class="shows__content">
                    <div class="shows__date">18-19 августа</div>
                    <h3 class="shows__title">
                        Astana Ballet EXPO GALA
                    </h3>
                    <p class="shows__description">
                        В программе вечера шедевр мирового балета «Серенада» Дж. Баланчина и постановка бразильского балетмейстера Рикардо Амаранте
                        «A fuego lento». Всемирно признанный шедевр неоклассического танца.
                    </p>
                    <div class="shows__actions">
                        <a href="#" class="shows__button btn btn-ab-white">Подробнее</a>
                        <a href="#" class="shows__button shows__buy btn btn-ab-white">Купить билет</a>
                    </div>
                </article>

            </div>
            <div class="shows__item js-shows-item" data-bg="['assets/img/shows/1.jpg','assets/img/shows/1@2x.jpg']">
                <div class="shows__image js-shows-image"></div>
                <article class="shows__content">
                    <div class="shows__date">2-3 сентября</div>
                    <h3 class="shows__title">
                        Прикосновение иллюзии
                    </h3>
                    <p class="shows__description">
                        Театр «Астана Балет» представляет вечер одноактных балетов бразильского хореографа Рикардо Амаранте - «Прикосновение иллюзии».
                        Зрители увидят премьеру балета на музыку Сергея Рахманинова – Концерт №2.
                    </p>
                    <div class="shows__actions">
                        <a href="#" class="shows__button btn btn-ab-white">Подробнее</a>
                        <a href="#" class="shows__button shows__buy btn btn-ab-white">Купить билет</a>
                    </div>
                </article>
            </div>
            <div class="shows__item js-shows-item" data-bg="['assets/img/shows/1.jpg','assets/img/shows/1@2x.jpg']">
                <div class="shows__image js-shows-image"></div>
                <article class="shows__content">
                    <div class="shows__date">2-3 сентября</div>
                    <h3 class="shows__title">
                        Прикосновение иллюзии
                    </h3>
                    <p class="shows__description">
                        Театр «Астана Балет» представляет вечер одноактных балетов бразильского хореографа Рикардо Амаранте - «Прикосновение иллюзии».
                        Зрители увидят премьеру балета на музыку Сергея Рахманинова – Концерт №2.
                    </p>
                    <div class="shows__actions">
                        <a href="#" class="shows__button btn btn-ab-white">Подробнее</a>
                        <a href="#" class="shows__button shows__buy btn btn-ab-white">Купить билет</a>
                    </div>
                </article>
            </div>
            <div class="shows__item js-shows-item" data-bg="['assets/img/shows/1.jpg','assets/img/shows/1@2x.jpg']">
                <div class="shows__image js-shows-image"></div>
                <article class="shows__content">
                    <div class="shows__date">2-3 сентября</div>
                    <h3 class="shows__title">
                        Прикосновение иллюзии
                    </h3>
                    <p class="shows__description">
                        Театр «Астана Балет» представляет вечер одноактных балетов бразильского хореографа Рикардо Амаранте - «Прикосновение иллюзии».
                        Зрители увидят премьеру балета на музыку Сергея Рахманинова – Концерт №2.
                    </p>
                    <div class="shows__actions">
                        <a href="#" class="shows__button btn btn-ab-white">Подробнее</a>
                        <a href="#" class="shows__button shows__buy btn btn-ab-white">Купить билет</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="shows__dots js-shows-dots">
    </div>
</section>