<section class="subscribe-wrap">
    <div class="container">
        <div class="subscribe">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h3 class="subscribe__title">Будьте в курсе новостей</h3>
                    <form class="subscribe__form">
                        <input class="form-control" type="text" placeholder="Введите Ваш e-mail">
                        <button class="subscribe__arrow d-md-none">
                            <img src="assets/icons/arrow-white.svg" alt="">
                        </button>
                        <button class="d-none d-md-flex subscribe__button btn btn-ab-white">
                            Подробнее
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>